# C++ compiled files
*.exe
*.out
*.o
*.obj
*.so
*.dll
*.dylib
*.a

# Build folders
build/
bin/
obj/
Debug/
Release/

# IDE files
.vscode/
.idea/
*.code-workspace
.vs/
*.sln
*.vcxproj*

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Personal notes
notebook.txt